@import url("https://fonts.googleapis.com/css?family=Poppins:400");

/* global styles */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/
:root {
  /* colors */
  --white: #ffffff;
  --black: #343434;

  --headingFont: "Poppins", sans-serif;
  --bodyFont: "Poppins", sans-serif;
  --smallText: 0.7em;
}

body {
  background: white;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 1rem;
  max-width: 45em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.3rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* end of golobal styles */

/* title */

.title {
  text-align: center;
  color: var(--black);
  padding: 1rem 0;
  background: #F6F8F9;
}
.underline {
  width: 12rem;
  height: 0.2rem;
  background: rgb(101, 101, 101);
  margin: 0 auto;
}
.title h3 {
  margin: 0;
  font-weight: bold;
}

/* end of title */

.container {
  min-height: 12rem;
  background: #f4f4f4;
  background: #362f0d;
  position: relative;
  background: linear-gradient(to right, #84773a 0%, #abbd73 92%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
}
.selector {
  color: rgb(238, 238, 238);
  padding: 2rem;
}

/* background color selector */

.color-form input[type="text"] {
  border: transparent;
  font-size: 1.2rem;
  background: rgb(250, 250, 250);
  padding: 0.7rem 0.8rem;
  max-width: 12rem;
  margin-right: 1rem;
}
input[type="color"] {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
}
.border-text label {
  color: rgb(255, 255, 255);
}

.color-picker {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.color-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  padding: 0.7rem 1.2rem;
  font-size: 1.1rem;
  display: block;
  border: none;
  background: rgb(50, 10, 10);
  cursor: pointer;
  text-transform: capitalize;
  color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.77);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.border-input {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
}
.borderRadius-input {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
}

.border-text {
  margin-bottom: 1rem;
}
.border-text input[type="text"] {
  width: 2rem;
}
.range span:first-child {
  padding-right: 0.5rem;
}
.range span:last-child {
  padding-left: 0.5rem;
}

.single-button {
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
  border: 2px solid grey;
}
.buttons {
  min-height: calc(100vh - 15rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
.copy-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1s linear;
  cursor: pointer;
}
.copy-icon {
  font-size: 2rem;
  padding: 0;
}
.copy-code p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.single-button button {
  transition: all 1s linear;
}
.single-button:hover button {
  opacity: 0.3;
}
.single-button:hover .copy-code {
  opacity: 1;
}
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.progress {
  width: 100%;
  height: 5px;
  background-color: #e47e11;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: progressBar 3s linear forwards;
  transform-origin: left;
}
.message{
   text-transform: capitalize;
   padding-inline: .7rem;
}
@keyframes progressBar {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.visible {
  animation: jumpIn .7s linear forwards;
}

@keyframes jumpIn {
  0% {
    transform: translateY(100%);
    opacity: .1;
  }
  60% {
    transform: translateY(-10%);
    opacity: .5;
  }
  80% {
    transform: translateY(5%);
    opacity: .75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}